#app{
    height: 100vh;
background: #dd3333b8;
}

/* .home-menu {
    position: fixed !important;
    width: 100%;
    z-index: 2;
} */

.logo-div {
    width: 3rem;
    height: auto;
}
.logo-div img {
    width: 3rem;
    height: auto;
}
